/* General config */
*
{
    --accent-color: #058C42;
    --primary-color: #32322C;
    --secondary-color: #37392E;
    --third-color: #555;
    --button-color: #6DA34D;
    --text-color: #FBF5F3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    transition: 0.25s ease all;
}

body
{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--primary-color);
}

/* General config end */

/* Aside config */

.aside-main
{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    border: none;
    z-index: 300;
    top: 0;
    width: 15%;
    padding: 1rem;
}

/* Chess logo config */

.logo
{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 90%;
    padding: 0.25rem;
    margin-bottom: 2rem;
}

.logo-chesscom
{
    width: 100%;
}

/* Chess logo config end */

/* Header config */

.header-nav
{
    width: 100%;
}

/* Dropdown search config */

.search-dropdown
{
    width: calc(100% - 2rem);
    position: absolute;
    z-index: 10;
}

.search-dropdown-text
{
    background-color: var(--button-color);
    height: 2em;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.search-dropdown-text span
{
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-dropdown-list
{
    list-style: none;
    display: none;
    position: absolute;
    z-index: 10;
    left: 102%;
    padding: 0.1rem;
    overflow: hidden;
    border-radius: 10px;
    width: 150px;
    top: 0;
    background-color: var(--secondary-color);
    border: 1px solid #000;
}

.search-dropdown-list-item-link
{
    padding: 0.75rem;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.fa-user
{
    color: rgb(24, 114, 16);
}

.fa-trophy
{
    color: rgb(236, 217, 39);
}

.fa-users
{
    color: rgb(42, 40, 177)
}

.search-dropdown-list-item-link:hover
{
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.search-dropdown-text:hover
{
    background-color: var(--accent-color);
}

.search-dropdown:hover .search-dropdown-list
{
    display: inline;
    position:absolute;
    -webkit-animation: showSearchDropdown 0.35s ease normal;
    animation: showSearchDropdown 0.25s ease normal;
}

@keyframes showSearchDropdown
{
    from{ transform: translate(-50%, -50%) scale(0);}
    to {transform: translate(0%, 0%) scale(1);}
}

.search-dropdown .search-dropdown-list
{
    animation: hideSearchDropdown 0.35s ease normal;
    -webkit-animation: hideSearchDropdown 0.35s ease normal;
    animation-fill-mode: forwards;
    display: inline;
}

@keyframes hideSearchDropdown
{
    from
    { 
        transform: translate(0%, 0%) scale(1);
    }
    to 
    {
        transform: translate(-50%, -50%) scale(0); 
    }
}

/* Dropdown search config */

/* Header config end*/

.toggleColorMode
{
    margin-top: auto;
    margin-bottom: 1rem;
    width: 2.5rem;
    padding: 0.5rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--button-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.toggleColorMode:hover
{
    background: var(--accent-color);
}

/* Footer config dev info */

.dev-info
{
    position: relative;
    z-index: 10;
    width: 100%;
}

.dev-info-name
{
    background-color: var(--button-color);
    height: 2em;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.dev-info-name span
{
    word-wrap: normal;
    margin-right: 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dev-contact-list
{
    display: none;
    padding: 0.1rem;
    width: 50px;
    background-color: var(--secondary-color);
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 101%;
    border: 1px solid #000;
}

.dev-contact-list-item-link
{
    padding: 0.75rem;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-info-name:hover
{
    background-color: var(--accent-color);
}

.dev-contact-list-item-link:hover,
.dev-contact-list-item-link:hover .dev-contact-list-item-link:hover i
{
    background-color: var(--primary-color);
    transform: scale(1.15);
}

/*Animacion barra de informacion*/

.dev-info:hover .dev-contact-list
{
    display: inline;
    position: absolute;
    animation: showDevInfo 0.35s ease normal;
    -webkit-animation: showDevInfo 0.35s ease normal;
}

.dev-info .dev-contact-list
{
    animation: hideDevInfo 0.35s ease normal;
    -webkit-animation: hideDevInfo 0.35s ease normal;
    animation-fill-mode: forwards;
    display: inline;
}

@keyframes showDevInfo
{
    from{ transform: translate(-50%, 50%) scale(0);}
    to {transform: translate(0%, 0%) scale(1);}
}

@keyframes hideDevInfo
{
    from
    { 
        transform: translate(0%, 0%) scale(1);
    }
    to 
    {
        transform: translate(-50%, 50%) scale(0); 
    }
}

/* Footer config dev info end */

.main-content
{
    padding: 2rem;
    width: 85%;
    box-sizing: border-box;
}

.errorAlert
{
    position: absolute;
    padding: 1rem;
    margin: auto;
    background-color: var(--secondary-color);
    border: 5px solid #111;
    border-radius: 10px;
}

.errorAlert::backdrop
{
    background-color: rgba(0, 0, 0, 0.55);
}

/* Animacion de la apertura del dialog*/

.errorAlert[open]
{
    animation: show 0.35s ease normal;
}

@keyframes show{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.errorAlert[open]::backdrop
{
    animation: normal;
    -webkit-animation: showBackdrop 0.35s ease normal;
}

@keyframes showBackdrop{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Animacion de cerrado del dialog*/

.errorAlert.hide
{
    animation: normal;
    -webkit-animation: hide 0.35s ease normal;
}

@keyframes hide{
    to {
        transform: scale(0);
    }
}

.errorAlert.hide::backdrop
{
    animation: normal;
    -webkit-animation: hideBackdrop 0.35s ease normal;
}

@keyframes hideBackdrop{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.errorTitle
{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.errorClose
{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3/1;
    padding: 0.75rem;
    margin-top: 1rem;   
    margin-left: auto;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-radius: 2px;
}

.errorClose:hover, .errorClose:focus
{
    background-color: var(--accent-color);
}

/* Scrollbar Design */

::-webkit-scrollbar {
    width: 14px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5000px;
    border: 4px transparent solid;
    background-clip: padding-box;
}


/* Mobile design */

@media screen and (max-width: 1000px) {
    body{
        flex-direction: column;
    }

    .aside-main
    {
        width: 100vw;
        height: 15vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #000;
        position: sticky;
        top: -1px;
    }

    .header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .header-nav
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .logo
    {
        margin-bottom: 0;
        margin-right: 2rem;
        height: 100%;
    }

    .logo-chesscom
    {
        height: calc(100% - 1rem);
        width: auto;
    }

    .search-dropdown
    {
        width: fit-content;
        margin-right: 1rem;
    }

    .search-dropdown-text
    {
        aspect-ratio: 1/1;
        justify-content: center;
    }

    .search-dropdown-text span
    {
        display: none;
    }

    .search-dropdown-text
    {
        width: fit-content;
    }

    .search-dropdown-list
    {
        left: -300%;
        top: 110%;
    }

    @keyframes showSearchDropdown
    {
        from{ transform: translate(50%, -50%) scale(0);}
        to {transform: translate(0%, -0%) scaleY(1);}
    }

    @keyframes hideSearchDropdown
    {
        from
        { 
            transform: translate(0%, 0%) scale(1);
        }
        to 
        {
            transform: translate(50%, -50%) scale(0); 
        }
    }

    .toggleColorMode
    {
        margin: 0 1rem 0 auto;
        width: auto;
        height: 2em;
    }
    
    .dev-info-name
    {
        aspect-ratio: 1/1;
        justify-content: center;
    }

    .dev-info-name span
    {
        display: none;
    }

    .dev-contact-list
    {
        left: -15%;
        bottom: -200px;
    }

    @keyframes showDevInfo
    {
        from{ transform: translate(0%, -50%) scaleY(0);}
        to {transform: translate(-0%, -0%) scaleY(1);}
    }

    @keyframes hideDevInfo
    {
        from
        { 
            transform: translate(0%, 0%) scaleY(1);
        }
        to 
        {
            transform: translate(0%, -50%) scaleY(0); 
        }
    }

    .dev-info:not(:hover) .dev-contact-list
    {
        animation: hideDevInfo 0.5s ease normal;
        animation-fill-mode: forwards;
    }

    .main-content
    {
        width: 100%;
    }
}