.main-title
{
    text-align: center;
    margin-bottom: 1em;
}

.main-description
{
    margin-bottom: 1em;
}

.main-features
{
    list-style: circle;
    padding: 0 1rem;

}

.main-features-item
{
    margin: 0.5rem;
}

.main-aclaration
{
    margin: 1rem 0;
}

.main-aclaration span
{
    font-weight: 700;
    margin: 1rem 0;
    display: block;
}