.aside-main
{
    position: sticky;
    top: 0;
}

.main-content
{
    padding: 0;
    overflow: hidden;
}

.main-info-clubPrincipal
{
    width: 100%;
    height: 30vh;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    overflow: visible;
    display: flex;
    align-items: center;
}

.main-info-clubPrincipal-clubImg
{
    height: 55%;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 10px;
}

.main-info-clubPrincipal-clubInfo
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-left: 1rem;
    border-left: 2px solid #222;
    justify-content: space-between;
}

.main-info-clubPrincipal-clubInfo-header
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-info-clubPrincipal-clubInfo-clubName
{
    font-size: 1.8rem;
    margin-right: 1rem;
}

.main-info-clubPrincipal-clubInfo-clubFlag
{
    width: 1.75em;
    margin-left: 0.25rem;
}

.main-info-clubPrincipal-clubInfo-other
{
    display: grid;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-info-clubPrincipal-clubInfo-other > div 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.25rem;
    text-align: center;
}

.main-info-clubPrincipal-clubInfo-avgDailyRating
{
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-avgDailyRating:hover::after
{
    content: 'Prom. de puntaje diario';
    position: absolute;
    font-size: 0.9rem;
    height: 1em;
    top: -2em;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--third-color);
    border-radius: 10px;
    z-index: 10;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-info-clubPrincipal-clubInfo-members
{
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-members i
{
    color: var(--text-color);
}

.main-info-clubPrincipal-clubInfo-members:hover::after
{
    content: 'Miembros';
    position: absolute;
    font-size: 0.9rem;
    z-index: 10;
    height: 1em;
    top: -2em;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-info-clubPrincipal-clubInfo-creationDate
{
    border-right: 1px solid #222;
    border-top: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-creationDate:hover::after
{
    content: 'Fecha de creación';
    position: absolute;
    font-size: 0.9rem;
    z-index: 10;
    height: 1em;
    top: -2em;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-info-clubPrincipal-clubInfo-lastActivity
{
    border-left: 1px solid #222;
    border-top: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-lastActivity:hover::after
{
    content: 'Última actividad';
    position: absolute;
    font-size: 0.9rem;
    z-index: 10;
    height: 1em;
    top: -2em;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.main-info-clubDescription
{
    height: fit-content;
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding: 0.75rem;
}

.main-info-clubDescription-title
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #222;
}

.main-info-clubAdmins
{
    height: fit-content;
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: 1rem;
    padding: 0.75rem;
}

.main-info-clubAdmins-title
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #222;
}

.main-info-clubAdmins-adminsList
{
    list-style: none;
}

.main-info-clubAdmins-adminList-admin
{
    width: 100%;
    height: 4rem;
    overflow: hidden;
    margin: 0.75rem 0;
    border-radius: 10px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main-info-clubAdmins-adminList-admin:hover
{
    background-color: var(--primary-color);
}

.main-info-clubAdmins-adminList-adminImg
{
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 10px;
}

.main-info-clubAdmins-adminList-adminName
{
    font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {

    .main-content
    {
        padding: 2rem;
    }

    .main-info
    {
        height: 65vh;
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 0.8fr;
        grid-template-areas: "main admins"
                            "description admins";
        gap: 1rem;
    }

    .main-info-clubPrincipal
    {
        grid-area: main;
        overflow: hidden;
        border-radius: 10px;
        padding: 1rem;
        margin: 0;
        height: 100%;
    }

    .main-info-clubPrincipal-clubImg
    {
        height: 100%;
    }

    .main-info-clubPrincipal-clubInfo-other
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        height: 50%;
    }

    .main-info-clubPrincipal-clubInfo-other > div:not(:nth-child(1), :nth-last-child(1))
    {
        border: none;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
    }

    .main-info-clubPrincipal-clubInfo-other > div:nth-child(1),
    .main-info-clubPrincipal-clubInfo-other > div:nth-last-child(1)
    {
        border-top: none;
        border-bottom: none;
    }

    .main-info-clubDescription
    {
        grid-area: description;
        overflow: scroll;
        border-radius: 10px;
        padding: 1rem;
        margin: 0;
        height: 100%;
    }

    .main-info-clubDescription::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    .main-info-clubAdmins
    {
        grid-area: admins;
        overflow: hidden;
        border-radius: 10px;
        padding: 1rem;
        margin: 0;
        height: 100%;
        overflow-x: scroll;
    }

    .main-info-clubAdmins::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }
}
