.aside-main
{
    position: sticky;
    top: 0;
}

.main-content
{
    padding: 0;
    overflow: hidden;
}

.main-info-clubPrincipal
{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0.75rem;
    overflow: visible;
    background-color: var(--secondary-color);
}

.main-info-clubPrincipal-clubImg
{
    width: 50%;
    min-width: 100px;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 10px;
}

.main-info-clubPrincipal-clubInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-left: 2px solid #222;
}

.main-info-clubPrincipal-clubInfo-header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-info-clubPrincipal-clubInfo-clubName
{
    margin-right: 1rem;
    font-size: 1.8rem;
}

.main-info-clubPrincipal-clubInfo-clubFlag
{
    height: 1.75em;
    margin-left: 1rem;
    aspect-ratio: 16 / 9;
}

.main-info-clubPrincipal-clubInfo-other
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.main-info-clubPrincipal-clubInfo-other > div 
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    text-align: center;
}

.main-info-clubPrincipal-clubInfo-avgDailyRating
{
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-avgDailyRating:hover::after
{
    position: absolute;
    top: -2em;
    z-index: 10;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1em;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap;
    content: 'Prom. de puntaje diario';
    background-color: var(--third-color);
    border-radius: 10px;
}

.main-info-clubPrincipal-clubInfo-members
{
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-members i
{
    color: var(--text-color);
}

.main-info-clubPrincipal-clubInfo-members:hover::after
{
    position: absolute;
    top: -2em;
    z-index: 10;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1em;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap;
    content: 'Miembros';
    background-color: var(--third-color);
    border-radius: 10px;
}

.main-info-clubPrincipal-clubInfo-creationDate
{
    border-top: 1px solid #222;
    border-right: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-creationDate:hover::after
{
    position: absolute;
    top: -2em;
    z-index: 10;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1em;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap;
    content: 'Fecha de creación';
    background-color: var(--third-color);
    border-radius: 10px;
}

.main-info-clubPrincipal-clubInfo-lastActivity
{
    border-top: 1px solid #222;
    border-left: 1px solid #222;
}

.main-info-clubPrincipal-clubInfo-lastActivity:hover::after
{
    position: absolute;
    top: -2em;
    z-index: 10;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 1em;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    white-space: nowrap;
    content: 'Última actividad';
    background-color: var(--third-color);
    border-radius: 10px;
}

.main-info-clubDescription
{
    width: 100%;
    height: fit-content;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}

.main-info-clubDescription-title
{
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #222;
}


.main-info-clubDescription-description *
{
    color: unset;
}

.main-info-clubAdmins
{
    width: 100%;
    height: fit-content;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}

.main-info-clubAdmins-title
{
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #222;
}

.main-info-clubAdmins-adminsList
{
    list-style: none;
}

.main-info-clubAdmins-adminList-admin
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0.25rem;
    margin: 0.75rem 0;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
}

.main-info-clubAdmins-adminList-admin:hover
{
    background-color: var(--primary-color);
}

.main-info-clubAdmins-adminList-adminImg
{
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 10px;
}

.main-info-clubAdmins-adminList-adminName
{
    font-size: 1.2rem;
}

@media screen and (min-width: 800px) {

    .main-content
    {
        padding: 2rem;
    }

    .main-info
    {
        display: grid;
        grid-template-areas: "main admins"
                            "description admins";
        grid-template-rows: 1fr 1.25fr;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        width: 100%;
        height: 70vh;
    }

    .main-info-clubPrincipal
    {
        grid-area: main;
        height: 100%;
        padding: 1rem;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
    }

    .main-info-clubPrincipal-clubImg
    {
        width: 20%;
    }

    .main-info-clubPrincipal-clubInfo-other
    {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        height: 50%;
    }

    .main-info-clubPrincipal-clubInfo-other > div:not(:nth-child(1), :nth-last-child(1))
    {
        border: none;
        border-right: 1px solid #222;
        border-left: 1px solid #222;
    }

    .main-info-clubPrincipal-clubInfo-other > div:nth-child(1),
    .main-info-clubPrincipal-clubInfo-other > div:nth-last-child(1)
    {
        border-top: none;
        border-bottom: none;
    }

    .main-info-clubDescription
    {
        display: flex;
        flex-direction: column;
        grid-area: description;
        height: 100%;
        padding: 1rem;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
    }

    .main-info-clubDescription-description
    {
        height: 100%;
        overflow-y: scroll;
    }

    .main-info-clubDescription-description::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    .main-info-clubAdmins
    {
        display: flex;
        flex-direction: column;
        grid-area: admins;
        height: 100%;
        padding: 1rem;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
    }

    .main-info-clubAdmins-adminsList
    {
        height: 100%;
        overflow-x: none;
        overflow-y: scroll;
    }

    .main-info-clubAdmins-adminsList::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }
}
