*
{
    --accent-color: #058C42 !important;
    --primary-color: #F6F4F4 !important;
    --secondary-color: #DFDFE2 !important;
    --button-color: #6DA34D !important;
    --text-color: #020300 !important;
    --third-color: #F8FFFA !important;
}