*
{
    --accent-color: #6c8e25;
    --primary-color: #312e2b;
    --secondary-color: #262421;
    --button-color: #4d7427;
    --text-color: #cfcfce;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    transition: 0.25s ease all;
}

.main-content
{
    position: relative;
    width: 100%;
}

.title-selection
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.2rem;
}

.title-input-selection
{
    padding: 0.5rem;
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 700;
    background: none;
    border: 1px solid var(--button-color);
    border-radius: 10px;
}

.title-input-selection-option
{
    font-size: 1rem;
    background-color: var(--secondary-color);
}

.searchPlayersBtn
{
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
}

.results-tit
{
    font-size: 1.4rem;
}


.paginator-div
{
    display: flex;
    position: relative;
    margin: 1rem auto 0;
}

.paginator-div > *
{
    margin: 0 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.paginator-div > button
{
    cursor: pointer;
}

.paginator-div > button:hover
{
    background-color: var(--secondary-color);
}

.searchPlayersBtn:focus
{
    background-color: var(--accent-color);
}

/*Config circulo de carga*/

.lds-ring-div
{
    display: none;
    width: 80px;
    height: 80px;
    margin: 10% auto;
}

.lds-dual-ring 
{
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after 
{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:1000px) {
    .title-selection
    {
        flex-direction: row;
        align-items: center;
    }

    .title-input-selection
    {
        margin: 0 2rem;
        font-size: 1.1rem;
    }

    .searchPlayersBtn
    {
        height: 100%;
        margin: 0;
        font-size: 1.1rem;
    }

    .paginator-div
    {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        margin: 1rem auto 0;
    }
}