
h1
{
    font-size: 1.8rem;
    text-align: center;
}

.main-content
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 2rem 0 3rem;
    overflow: hidden;
    background-color: var(--button-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.search-inp
{
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
}

.search-inp::placeholder
{
    color: var(--text-color);
}

.search-inp:focus
{
    background-color: var(--accent-color);
    outline: none;
}

.search-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 0.3rem;
    font-size: 150%;
    cursor: pointer;
    background-color: var(--button-color);
    border: none;
    border-left: 1px solid var(--secondary-color);
}

.search-button:focus
{
    background-color: var(--accent-color);
}

/* Estilos de la zona de resultados */

.results
{
    display: grid;
    grid-template-columns: 0.8fr;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.user-listed
{
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.user-listed:hover
{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.user-listed-profile-pic
{
    width: 100%;
    aspect-ratio: 1;
}

.user-listed-info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5em;
    padding: 0.5rem;
}

.user-listed-info-name
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: hidden;
    text-overflow: elipsis;
    white-space: nowrap;
}

.user-listed-info-country-flag
{
    height: 1.75em;
    aspect-ratio: 16 / 9;
}

/*Configuracion responsive*/

@media screen and (min-width: 800px)
{
    .main-content
    {
        display: block;
    }
    .main-content-header
    {
        display: flex;
        flex-wrap: wrap;
    }
    h1
    {
        width: 100%;
    }
    .inputs
    {
        width: 40%;
        margin-left: auto;
    }

    .search-button:hover
    {
        background-color: var(--accent-color);
    }

    .errorClose
    {
        font-size: 1rem;
    }

    .results
    {
        grid-template-columns: repeat(5, 5fr);
    }
}